html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	transition: all ease-in-out .3s;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* close commented backslash hack */

body {
	background: #fff;
	font-size: 16px;
	color: #202226;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.header_page {
	background: #000;
	padding: 30px 0;
}

.logo {
	display: inline-block;
}

.menu_header {
	float: right;
	padding-top: 10px;
}

.menu_header li {
	display: inline-block;
}

.menu_header li+li {
	margin-left: 30px;
}

.menu_header li a{
	font-weight: bold;
	font-size: 13px;
	color: #6d6d6d;
	text-decoration: none;
}

.menu_header li a:hover {
	color: #fff;
}
.main_slider {
	position: relative;
	height: 75vh;
	overflow: hidden;
}
.slider {
	width: 100%;
	height: 75vh;
	margin: 0 auto;
	text-align: center;
}

.slider img{
	width: 100%;
	height: 75vh;
}

.customNavigation {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -40px;
}

.main_slider .customNavigation button{
	line-height: 80px;
	border: none;
	font-size: 30px;
	width: 60px;
	background: rgba(0,0,0,.5);
	color: #bfbfc0;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.main_slider .customNavigation button.next {
	float: right;
}

.main_slider .slider-text {
	position: relative;
	top: -43vh;
	z-index: 10;
	text-align: left;
}

.main_slider .slider-text h1 {
	font-size: 34px;
	color: #fff;
	font-weight: bold;
	padding: 22px 25px;
	line-height: 1;
	background: #65c25d;
	display: inline-block;
	border-radius: 5px;
	margin: 1px 0 15px;
}

.main_slider .slider-text p {
	padding: 8px 10px;
	font-size: 16px;
	color: #fff;
	background: #000;
	display: inline-block;
	border-radius: 5px;
}

.features {
	padding: 100px;
}
.features_item {
	text-align: center;
	width: 32%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
}
.features_item i.fa {
	font-size: 80px;
	margin-bottom: 50px;
	color: #f26c4f;
}

.features_item h3 {
	font-size: 38px;
	margin-bottom: 30px;
}

.features_item p {
	line-height: 26px;
	font-weight: 400;
}

.portfolio {
	padding: 75px;
	background: url(../img/port-bg.jpg) no-repeat center;
	background-size: cover;
}

.portfolio h2 {
	font-size: 30px;
	color: #fff;
	display: inline-block;
}

.browse_button {
	float: right;
}

.browse_button a {
	font-size: 13px;
	line-height: 1;
	text-decoration: none;
	font-weight: bold;
	padding: 12px 15px;
	border: 2px solid #9fa09c;
	color: #9fa09c;
	border-radius: 3px;
}

.browse_button a:hover {
	color: #fff;
	background: #9fa09c;
}

.portfolio_items {
	margin-top: 50px;
}

.portfolio_item {
	display: inline-block;
	width: 230px;
	height: 200px;
	position: relative;
	margin-bottom: 20px;
}

.portfolio_item {
	margin-right: 15px;
}


.portfolio_item:nth-child(4n+4) {
	margin-right: 0;
}


.portfolio_item_link {
	display: none;
}

.portfolio_item:hover .portfolio_item_link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,.5);
	text-align: center;
	padding: 70px 0;
	overflow: hidden;
	box-sizing: border-box;
}

.portfolio_item:hover .portfolio_item_link h4 {
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

.portfolio_item:hover .portfolio_item_link a {
	background: #527d4e;
	color: #999;
	display: inline-block;
	border-radius: 3px;
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
}

.portfolio_item:hover .portfolio_item_link a:hover {
	color: #fff;
	background: #88d082;
}

.content_thunder {
	padding: 120px;
}
.content_thunder .left_thunder,
.content_thunder .right_thunder {
	width: 487px;
	display: inline-block;
	vertical-align: top;
}
.content_thunder h2 {
	font-size: 40px;
	margin-bottom: 40px;
	font-weight: bold;
}

.content_thunder p {
	font-size: 24px;
	color: #767370;
	margin-bottom: 40px;
}

.content_thunder a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	background: #89ca89;
	padding: 15px 13px;
	border-radius: 2px;
	font-weight: bold;
}


.content_thunder a:hover {
	background: #638b63;
}

.content_thunder .right_thunder{
	text-align: right;
}